  @charset "utf-8";
  /* CSS Document */
  
  
  
  @font-face{
	  font-family:'KorinaVetma';
	  src: url(Font/KorinaVetma.ttf);
  }
  h1 span{
	  font-family: 'KorinaVetma';
  }
  h1 span{
  font-size: 90px;
}
  
  p{
	  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	  font-size:16px;
	  line-height:18px;
	  width:600px;
	  background-color: antiquewhite;
	  padding:20px;
  }
  
  body {
    background-image: url('PROJEKTNI/Slike/pozadina.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100 vh;
    margin: 0;
}

h2{
	color:#FF1493;
}



</body>
</html>
